*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log
*.pot
.DS_Store
db.sqlite3
*.py[cod]
staticfiles/
media/
.env
.env.*
*.pid
*.seed
*.cover
*.orig
*.rej
*.swo
*.swp
.vscode/
docker-compose.override.yml
*.env
Dockerfile*
docker-compose*.yml
env/
venv/
ENV/
env.bak/
venv.bak/
node_modules/
.idea/

