{% extends 'base.html' %}
{% load static %}

{% block title %}
Diet Plans
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="diet-main-text pt-5">
                <h1 class="bungee-shade-regular">Jedálniček na mieru</h1>
                <p>a poradenstvo ohľadom výživy v rôznych oblastiach</p>
            </div>
            <div class="tile-box diet-tiles">
                <div class="tile-container">
                    <div class="tile">
                        <h5>Nabrať svaly</h5>
                    </div>
                    <div class="tile">
                        <h5>Schudnúť</h5>
                    </div>
                    <div class="tile">
                        <h5>Športovci</h5>
                    </div>
                    <div class="tile">
                        <h5>Tráviace problémy</h5>
                    </div>
                    <div class="tile">
                        <h5>Alergie</h5>
                    </div>
                </div>
            </div>
            <div class="arrow">
                    <a href="#consult" class="scroll-arrow d-block mt-3">
                        <img src="{% static 'images/down-arrow.svg' %}" alt="Scroll Down" width="50">
                    </a>
            </div>
        </div>
        <div class="col-md-6">
            <div id="dietCarousel" class="carousel slide diet-carousel" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/gym1.jpg' %}" class="d-block w-100" alt="Gym Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/gym2.jpg' %}" class="d-block w-100" alt="Gym Image 2">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/gym3.jpg' %}" class="d-block w-100" alt="Gym Image 3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#dietCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#dietCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <div id="consult" class="container price-card">
                <p class="section-title text-center">Úvodná konzultácia nestojí nič, len tvoj čas</p>
                <div class="card p-4 mt-3 text-center">
                    <p class="section-content">Spolupráca začína od:</p>
                          <p class="section-title">$30/mes</p>
                    <div class="divider"></div>
                    <a href="#" class="btn cta-btn w-100">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container diet-introduction">
                <p class="section-title text-center bungee-shade-regular">Ako prebieha úvodná konzultácia?</p>
                <ul class="text-center section-content enhanced-list">
                    <li><i class="fas fa-search"></i> <b>Analyzovanie</b> doterajších stravovacích návykov</li>
                    <li><i class="fas fa-dumbbell"></i> <b>Zohľadnenie</b> úrovne fyzickej aktivity</li>
                    <li><i class="fas fa-bullseye"></i> <b>Stanovenie</b> dosiahnuteľných cieľov</li>
                    <li><i class="fas fa-question-circle"></i> <b>Zodpovedanie</b> akýchkoľvek otázok</li>
                    <li><i class="fas fa-handshake"></i> <b>Nastavenie</b> nasledujúcej spolupráce</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="container diet-details">
                <p class="text-center section-title bungee-shade-regular">Čo obsahuje jedálniček?</p>
                    <ul class=" text-center section-content enhanced-list">
                        <li><i class="fas fa-utensils"></i> <b>Výživový plán</b> na mieru</li>
                        <li><i class="fas fa-calendar-alt"></i> <b>Mesačné</b> konzultácie</li>
                        <li><i class="fas fa-comments"></i> <b>Flexibiná</b> komunikácia</li>
                        <li><i class="fas fa-pills"></i> <b>Poradenstvo</b> o výživových doplnkoch</li>
                    </ul>
            </div>
        </div>
        <div class="col-md-8">
            <p class="text-center section-title">Ako je jedalnicek zostaveny a co dostanem?</p>
            <p class="section-content text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisl lectus, congue sit amet felis eget, bibendum varius leo. Morbi eu felis vitae massa rutrum convallis. In sed egestas diam. Mauris tellus mi, sodales nec efficitur a, ullamcorper tristique quam. In congue aliquet eleifend. Vivamus in consectetur dui, in porta lorem.</p>
        </div>
    </div>

    {% include "components/contact_form.html" %}
    <script src="{% static 'js/diet.js' %}" defer></script>
{% endblock %}

