{% extends 'base.html' %}
{% load static %}

{% block title %}
Training
{% endblock %}

{% block content %}
<div class="video-section">
    <div class="video-container-polygon polygon-crop">
        <video autoplay muted loop>
            <source src="{% static 'images/homepage_bg.mp4' %}" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="text-section">
        <h1 class="bungee-shade-regular text-center mb-3">Transformuj svoju fitness cestu</h1>
        <p class="section-content">Tréning staviame spolu, zohľadňujem tvoje osobné preferencie, pri úvodnej konzultácii si spolu stanovíme cieľ, a následne ti ho pomôžem dosiahnuť</p>
        <p class="section-content">Cvičíš pod mojím dohľadom, dbám na správnu techniku a efektívne využitie tvojho úsilia</p>
        <p class="section-content">Tréningy sú nastavené špecificky pre teba a tvoje potreby, či si začiatočník, alebo máš v pláne stáť na kulturistickom pódiu</p>
        <p class="section-content">Mám dlhoročnú prax, a niekoľko druhov tréningov vyskúšaných na sebe, spolu prekonáme stagnáciu, zameráme sa na zaostávajúce partie, alebo dosiahneme požadovaný výkon</p>
        <a href="#" class="btn btn-primary cta-btn">Schedule Training</a>
    </div>
</div>

    <div class="container tile-box">
        <div>
            <h2>V čom ti dokážem pomôcť?</h2>
        </div>
        <div class="container dynamic-tiles">
            <div class="tile-container">
                {% for group in target_groups %}
                <div class="tile">
                    <h5>{{ group.name }}</h5>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="cta">
            <p>Jednorázový osobný tréning začína od $15 (60-90 minút), dlhodobé spolupráce majú zvýhodnenú cenu</p>
            <a href="#" class="btn">Cenník</a>
        </div>
    </div>


<div class="container three-columns">
    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <div class="interactive-card">
                <div class="front">
                    <h5 class="section-title">Vstupná konzultácia</h5>
                    <p class="section-content text-center">Kde sa oboznámim s tvojimi cieľmi a fyzickou úrovňou</p>
                </div>
                <div class="back">
                    <p class="section-content text-center">Pri tejto konzultácii spoločne začneme vytvárať tréningový plán, porozprávame sa o tvojich preferenciách a víziach</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="interactive-card">
                <div class="front">
                    <h5 class="section-title">Prvý tréning</h5>
                    <p class="section-content text-center">Kde sa oboznámiš s tým ako vyzerá tréning so mnou v praxi</p>
                </div>
                <div class="back">
                    <p class="text-center section-content">Vyskúšaš si ako vyzerá tréning, pokiaľ sa ti nastavený štýl nebude páčiť, spoločne ho upravíme tak aby si bol spokojný</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="interactive-card">
                <div class="front">
                    <h5 class="section-title">Pokračovanie a spolupráca</h5>
                    <p class="section-content text-center">Možnosť dlhodobej spolupráce za zvýhodnenú cenu</p>
                </div>
                <div class="back">
                    <p class="text-center section-content">Plne nastavený tréningový plán zameraný na výsledky, tak aby vyhovoval tvojím potrebám a neplytval tvojím časom</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <p class="section-title bungee-shade-regular text-center">Pripravený začať?</p>
        <div class="col-md-6">
            <p class="text-center section-content">Stačí vyplniť jednoduchý formulár, kde od teba vyžadujem niektoré základné informácie, tvoje predstavy o tréningu, čo od neho očakávaš a aké sú tvoje ciele</p>
            <a class="btn-placeholder" href="#">Start now</a>
        </div>
        <div class="col-md-6">
            <div id="contact-section" class="mb-3 pt-2 container">
                <h2 class="text-center section-title">Alebo ma kontaktuj kdekoľvek</h2>
                <div class="row text-center mt-4">
                    <!-- Instagram -->
                    <div class="col-12 col-md-4">
                        <a href="https://www.instagram.com/yourprofile" target="_blank" class="contact-link">
                            <i class="fab fa-instagram fa-3x"></i>
                            <p>Instagram</p>
                        </a>
                    </div>
                    <!-- Facebook -->
                    <div class="col-12 col-md-4">
                        <a href="https://www.facebook.com/yourprofile" target="_blank" class="contact-link">
                            <i class="fab fa-facebook-f fa-3x"></i>
                            <p>Facebook</p>
                        </a>
                    </div>
                    <!-- Email -->
                    <div class="col-12 col-md-4">
                        <a href="mailto:your-email@example.com" class="contact-link">
                            <i class="fas fa-envelope fa-3x"></i>
                            <p>Email</p>
                        </a>
                    </div>
                    <p class="section-content text-center">0918 450 132</p>
                </div>
            </div>
        </div>
    </div>
{% include "components/contact_form.html" %}
    <script src="{% static 'js/training.js' %}" defer></script>
{% endblock %}
