{% load static %}

<div class="email-form-section">
    <form>
        <h2>Contact Me</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name" />
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Your Email" />
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
    <canvas class = "" id="three-js-animation"></canvas>
</div>
<script src="{% static 'js/threejs-cubes.js' %}" defer></script>